@{
    ViewData["Title"] = "Remove users";
}

<h1>Remove users</h1>

<form action="/Remove/RemoveUser" method="post">
	Username : <input type="text" id="username" name="username" /> <br />
	<input type="submit" value="Remove user" />
</form>