@{
    ViewData["Title"] = "Home Page";
}

<script src="js/main.js"></script>

<div class="text-center">
	<h1 class="display-4">Add an asset</h1>
	
	<div id="assetAdditionDiv">
        Name: <input type="text" name="name" id="nameInput">  <br>
        Description: <input type="text" name="description" id="descriptionInput"> <br>
        Value: <input type="text" name="value" id="valueInput"> <br>
        <input type="submit" value="Add" id="assetAdditionButton"/>
    </div>

	<ul id="assetsList">
		
	</ul>
</div>
