img {
    border: 5px solid darkblue;
    opacity: 0.2;
}

img:hover {
    transform: rotate(-20deg);
}

#cube {
    margin-right: 100px;
}

#menu {
    list-style-type: square;
}

body {
    background-image: url("erno.jpg");
    background-repeat: repeat-x;
}

h1 {
    text-shadow: 2px 2px 5px green;
}

nav {
    height: 50px;
    background-image: linear-gradient(blue, green, rgb(0,255,0,1));
}

a {
    color: white;
}