/* You can add global styles to this file, and also import other style files */
body {
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}


#welcome-message {
	position: relative;
	text-align: center;
	top: 1vh;
}

#inputForm {
	position: relative;
	background-color: #383838;
	border-radius: 20px;
	color: white;
	width: 50vw;
	top: 5vh;
	left: 25vw;
	right: 25vw;
}

#inputForm p, input, h2 {
	margin-top: 30px;
	text-align: center;
}

#inputForm > div {
	margin-top: 30px;
	text-align: center;
}

#container {
	position: relative;
	margin-top: 5vh;
	text-align: center;
	background-color: #383838;
	border-radius: 20px;
	color: white;
	width: 50vw;
	top: 5vh;
	left: 25vw;
	right: 25vw;
}

#actualForm > input {
	text-align: center;
	justify-content: center;
}


#filterHistory {
	border-radius: 10px;
	background-color: cadetblue;
}