@{
    ViewData["Title"] = "Add users";
}

<h1>Add a user</h1>

<div>
    <form action="/Add/SaveUser" method="post">
        Name : <input type="text" id="name" name="name" /> <br />
        Username : <input type="text" id="username" name="username" /> <br />
        Password : <input type="text" id="password" name="password" /> <br />
        Date of birth: <input type="text" id="dateOfBirth" name="dateOfBirth" /> <br />
        Role: <input type="text" id="role" name="role" /> <br />
        E-mail: <input type="text" id="email" name="email" /> <br />
        <input type="submit" value="Add user" />
    </form>
</div>
