@{
    ViewData["Title"] = "Update users";
}

<script>
/**
    $(document).ready(function(){
		$("#registerButton").click(function() {
			$.post("/Auth/Register", {username: $("#username").val(), password: $("#password").val()},
				function(data,status) {
					$("#maindiv").html(data);
				});
		});
	});
	**/
</script>

<h1>Update users</h1>

