body {
    margin: 0px;
}

#navigation_bar > * {
    display: inline-block;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transform: translate(0, -20px);
}

#logo {
    margin: 10px;
    width: 125px;
    height: auto;
    transform: translate(0px, 10px);
}

#search_bar {
    margin-left: 30px;
    width: 55%;
    height: 40px;
    border-radius: 50px;
    background-color: #fafafa;
}

#black_banner {
    background-color: #1E1E1C;
    height: 25%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#course_description {
    color: white;
}

.headers {
    font-family: Arial, Helvetica, sans-serif;
}

.course_categories > a {
    color: #8ED1DC;
    font-size: 15px;
    text-decoration: none;
}

.course_categories > b {
    color: #FFFFFF;
}

#inner_banner_container {
    margin-left: -25%;
    margin-top: 30px;
    line-height: 90%;
}

#shopping_cart {
    font-size: 30px;
}

#navigation_bar > button {
    width: 100px;
    height: 35px;
    font-weight: 900;
    border-style: solid;
    border-radius: 10px;
}

#login_button {
    background-color: white;
    color: #1c6a78;
    border-color: #1c6a78; 
}

#signup_button {
    background-color: #1c6a78;
    color: white;
    border-color: #1c6a78; 
}

.checked {
    color: #ffd387;
    font-size: 15px;
}

#instructor {
    color: #8ED1DC;
    font-size: 15px;
}

#subtitles {
    font-family: Helvetica,
                 sans-serif;
}

#subtitles > img {
    width: 20px;
    transform: translate(0,5px);
    height: auto;
}

#course_actions > button {
    height: 3em;
    width: 9em;
    font-weight: 700;
    background-color: inherit;
    color: white;
    border-radius: 0.5em;
    border-width: 2px;
}

#course_goals {
    background-color: #FBFBF8;
    margin-left: 20%;
    margin-top: 60px;
    width: 750px;
    line-height: 90%;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

#course_goals > h2 {
    color: #4d4d4d;
    margin-left: 25px;
}

#course_goals ul {
    list-style: none;
    padding-left: 1em;
    padding-right: 1em;
}

#course_goals li {
    padding-left: 1em;
    font-size: 15px;
    padding-bottom: 10px;
}

#course_goals li::before {
    content: '✓\2002\2002';
    color: #adadad;
}

#course_goals > div {
    display: flex;
    flex-direction: row;
}

#offer {
    position: absolute;
    width: 18vw;
    height: 90vh;
    top: 10vh;
    left: 60vw;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#offer > div > img {
    position: static;
    width: 17.5vw;
    left: 10px;
    padding-left: 0.25vw;
    padding-top: 0.3vh;
    padding-bottom: 1vh;
}

#offer_details {
    width: 18vw;
}

#offer_details > button {
    margin-top: 20px;
    height: 5em;
    width: 90%;
    margin-left: 5%;
    font-weight: 700;
    background-color: inherit;
    border-radius: 0.5em;
    border-width: 2px;
}

#offer_image p {
    text-align: center;
    font-size: 12px;
}

#price {
    padding: 20px;
    font-weight: 700;
    font-size: 30px;
    text-transform: translate(10px, 0);
}

#old_price {
   text-decoration: line-through;
   color: #9c9c9c;
}

#sale_deadline {
    color: #b32d00;
    padding-left: 20px;
}

#sale_deadline::before {
    content: '\23F0';
}

#offer_separator hr {
    transform: translate(0, -15px);
    color: #d6d6d6;
}

#coupon_button {
    background-color: green;
}